.projects-page {
  padding: 2rem 7rem;
}

.projects-heading {
  text-align: center;
  /* font-size: 1.2rem; */
  margin-bottom: 2rem;
}

.filter-btn {
  margin: 0 0.5rem;
  padding: 0.4rem 0.8rem;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* Assign a different color to each button based on order */
.projects-heading .filter-btn {
	color: #fff;
	border-radius: 4px;
	opacity: 0.49;
	transition: 0.25s ease;
}
.projects-heading .filter-btn.active {
	opacity: 0.93;
}
.projects-heading .filter-btn:hover {
	opacity: 1;
}

.projects-heading .filter-btn:nth-child(1) { 
	background-color: #555; 
} 
.projects-heading .filter-btn:nth-child(2) { 
	background-color: #4545ff; 
}
.projects-heading .filter-btn:nth-child(3) { 
	background-color: #28a72c; 
}
.projects-heading .filter-btn:nth-child(4) { 
	background-color: #d96518; 
}



.projects-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-thumbnail {
  width: 100%;
  height: 280px; 
  object-fit: cover; 
  display: block;
}

.project-card h3 {
  padding: 0.8rem;
  font-size: 1rem;
  flex: 1; /* pushes text to bottom if needed */
}

